Source: python-griffe
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Carsten Schoenert <c.schoenert@t-online.de>,
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 git <!nocheck>,
 python3-all,
Build-Depends-Indep:
 pybuild-plugin-pyproject,
 python3-colorama <!nocheck>,
 python3-jsonschema <!nocheck>,
 python3-pdm-backend,
 python3-pytest <!nocheck>,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-griffe
Vcs-Git: https://salsa.debian.org/python-team/packages/python-griffe.git
Homepage: https://github.com/mkdocstrings/griffe

Package: python3-griffe
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Signatures for entire Python programs
 Extract the structure, the frame, the skeleton of your project,
 to generate API documentation or find breaking changes in your API.
 .
 This is the Python 3 version of the package.
